.hola
  Hola! Esta es la API del Censo Argentino 2010.

.spec

  M&eacute;todos disponibles:
  %br

  %a{:href => '/raw_data'}
    Raw Data
  %br
  %a{:href => '/personas_por_vivienda'}
    Personas por Vivienda
  %br
