-# encoding: utf-8

.page-header 
  %h1
    Version 1.0
  
%p 
  Esta es la API del Censo Argentino 2010 hecha sobre <strong><em>datos preliminares</em></strong>. 

%h2
  Métodos disponibles

%p
  Los métodos se acceden a través de una interfaz HTTP REST y devuelven JSON.    

.methods
  %p
    %h3
      Provincias
    %a{:href => '/provincias'}
      %pre
        GET /provincias
  %p
    %h3
      Cabeceras
    %a{:href => '/cabeceras'}
      %pre
        GET /cabeceras
  %p
    %h3
      Departamentos
    %a{:href => '/departamentos'}
      %pre
        GET /departamentos
  %p
    %h3
      Datos por Provincia
    %a{:href => '/buenos_aires'}
      %pre
        GET /buenos_aires
    (En general, GET /nombre_de_provincia)
  %p
    %h3
      Datos por Departamento
    %a{:href => '/buenos_aires/san_nicolas'}
      %pre    
        GET /buenos_aires/san_nicolas
    (En general, GET /nombre_de_provincia/nombre_de_departamento)    
  %p
    %h3
      Personas por Vivienda
    %a{:href => '/personas_por_vivienda'}
      %pre    
        GET /personas_por_vivienda
  %p
    %h3
      Personas por Vivienda por Provincia
    %a{:href => '/buenos_aires/personas_por_vivienda'}
      %pre    
        GET /nombre_de_provincia/personas_por_vivienda
  %p
    %h3
      Personas por Vivienda por Departamento
    %a{:href => '/buenos_aires/san_nicolas/personas_por_vivienda'}
      %pre    
        GET /buenos_aires/san_nicolas/personas_por_vivienda                
  %p
    %h3
      Raw Data
    %a{:href => '/raw_data'}
      %pre    
        GET /raw_data
  %p
    %h3
      Version
    %a{:href => '/version'}
      %pre    
        GET /version